.comic-card {
  width: 80%;
  position: relative;
  max-width: 850px;
  background: var(--white);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: auto;
  transition: all 0.3s;
  margin: 9px auto;

  @media screen and (min-width: 768px) {
    max-width: 750px;
    margin: auto;
    margin-top: 20px;
  }

  &__img {
    // width: 40%;
    width: 95%;
    flex-shrink: 0;
    height: 300px;
    box-shadow: 4px 13px 30px 1px var(--secundary);
    border-radius: 20px;

    overflow-x: scroll;

    img {
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 20px;
      transition: all 0.3s;
      z-index: 2;
    }

    @media screen and (max-width: 992px) {
      // width: 45%;
    }
  }

  &__content {
    // width: 60%;
    margin-top: 10px;
    text-align: center;
    padding: 0 20px;

    @media screen and (min-width: 768px) {
        padding-right: 25px;
        text-align: left;

    }

    > * {
      transform: translateY(25px);
      transition: all 0.4s;
    }
  }

  &__date {
    color: var(--gray-dark);
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }

  &__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }

  &__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: var(--white);
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  &__action{
    margin-bottom: 20px;
  }
}
